apache-airflow==2.7.1
apache-airflow-providers-postgres==5.6.1
airflow-provider-great-expectations==0.2.6
apache-airflow-providers-docker==3.7.5
apache-airflow-providers-amazon
apache-airflow-providers-apache-spark
pandas==2.0.2
minio==7.1.16
s3fs==0.4.2
pyarrow==16.1.0
pyspark==3.5.1
delta-spark==3.1.0